Package: com.noisyflake.magma
Name: Magma
Depends: mobilesubstrate, firmware (>= 11.0), org.thebigboss.libcolorpicker
Version: 1.0.2
Architecture: iphoneos-arm
Description: Color your Control Center
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.magma
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
